body {
    background-color: #0d1a2d;
    display: flex;
	align-items: center;
	justify-content: center;
}
#card {
    z-index: 1;
    height: 35rem;
    width: 20rem;
    background-color: #14273e;
    display: grid;
    padding: 30px;
    border-radius: 2.5%;
    font-family: 'Poppins';
}
#nft {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#nftPreview {
    display: flex;
	align-items: center;
	justify-content: center;
}
#nftPreview i {
    position: absolute;
    z-index: 0; /* set to -1 to hide */
    color:white;
}
.cardHeader h2 {
    margin-bottom: 0px;
}
.cardHeader h2 a {
    text-decoration: none;
    color: white;
}
.cardDescription {
    color: #3f536e;
    font-weight: 600;
    font-size: 15px;
}
#priceAndDate {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-size: 15px;
}
#priceAndDate p {
    margin: 0;
    display:inline;
    float:left;
}
#price {
    color: #16f8f2;
}
#date {
    color: #516e9c;
}
#creator {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
    color: #3f536e;
}
#creator a {
    color: white;
    text-decoration: none;
}
#creator img {
    width: 2rem;
    height: 2rem;
    border: 2px solid #3f4950;
    border-radius: 50%;
}
hr {
    height: 0.5px;
    width: 100%;
    margin-top: 15px;
    background-color: #1b2e45;
    border: 1px solid #1b2e45;
}

/* HOVER STATES */

.cardHeader h2 a:hover {
    color: #16f8f2;
}
#creator a:hover {
    color: #16f8f2;
}